/* Setting up CSS color variables for the project */
:root {
  --main-color:  rgba(243,234,64, 0.75);
  --text-color: #0c3522; 
  --accent-color: rgba(53,174,63, 0.8);
}
/* Overall page styling */
* {
  margin: 0.5rem;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-image: url("../images/leaf-background.jpg");
  color: var(--text-color);;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h2 {
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

h3 {
  font-size: 2.5rem;
  width: 100%;
}

h4 {
  font-size: 2rem;
  text-align: center;
}

/* styling for the header */
header {
  position: top;
  top: 0;
  padding: 1.5rem 3.5rem;
  background-color: var(--main-color);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 70%;
}

header h1 {
  font-size: 4.8rem;
  margin: 0;
  flex-wrap: wrap;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;  
}

header nav ul li {
  font-size: 2em;
  padding: .5em;
  justify-content: space-around;
  flex: none;
}

/*Styling to apply overall to the two content sections */

section {
  padding: 25px 25px;
}

/* Styling specific to the bio section */

.bio {
  border: 6px solid #c79226cc;
  border-radius: 3px;
  background-color: var(--accent-color);
}

.bio p {
  padding: 0 30px 25px 30px;
  font-size: 1.6rem;
  line-height: 1.5;
}

.bio img {
  width: 12.5rem;
  height: auto;
  border: 2px solid #c79226cc;
  border-radius: 6px;
  margin: 0 3rem;
}

/* Styling for the contact box inside of bio */

.contact-info {
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--main-color);
  border: 1px solid #c79226cc;
  border-radius: 3px;
  padding: 1rem 0;
  margin-bottom: 5rem;
}

/* Styling to apply to flex boxes in various parts of the page */

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: flex-start;
}

/* Styling for the recent work portfolio */

.card {
  background-color: rgba(255, 255, 255, 0.5);
}

.work-sample {
  background-color: var(--main-color);
  border: 6px solid #18b325;
  border-radius: 5px;
}

.work-sample img {
  width: 500px;
  display: inline;
}

.project {
  margin: 0;
  font-size: 1rem;
}

.project p {
  font-weight: bold;
}

.work-sample img hover {
  flex-grow: initial;
}
/* footer styling */
footer {
  background-color: var(--main-color);
  border: 6px solid #c79226cc;
  border-radius: 3px;
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul li a {
    font-size: 1.5rem;
  }

  h2 {
    width: 80%;
  }

  .work-sample {
    flex: 0 70%;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  
  h2 {
    flex: 1 100%;
    text-align: center;
  }
  
  h3 {
    flex: 1 100%;
    text-align: center;
  }

  .work-sample img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 575px) {
  h2 {
    width: 95%;
  }
  
  .bio p {
    width: 100%;
  }

  .work-sample {
    flex: 0 100%;
  }
}
